<!DOCTYPE html>
<html lang="<%= chobiitLang %>">

<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chobiit</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <link rel="stylesheet" href="./css/main.css">
    <style>
        iframe {
            width: 100%;
            height: 90vh;
            border: none;
            overflow-x: auto;
        }

        nav {
            padding-top: 70px;
        }

        @media screen and (max-width: 767.98px) {
            nav {
                padding-top: 0px;
            }
        }

    </style>

    <script src="./js/config.js"></script>
    <script src="./js/auth.js"></script>
</head>

<body>
    <div id="loader" class="se-pre-con" style="display: none"></div>
    
    <div class="row-offcanvas row-offcanvas-left" id="rowOffCanvas">
        <!-- Side bar -->
        <div class="sidebar sidebar-offcanvas" id="sidebar">
            <div class="col-md-12 p-0">
                <div class="brand-title d-flex flex-row align-items-center justify-content-center">
                    <img src="./images/header_logo.png" style="width: 95%;">
                </div>
                <div class="brand-user">
                    <h6 class="text-center need-username"></h6>
                </div>
                <nav class="nav flex-column pt-5" id="mainMenu">
                    <a class="nav-link d-flex justify-content-between main-item active" href="./list_app.html">
                        <span class="nav-link-title"><i class="fas fa-home"></i><%= message.info["home"] %></span>
                  <!--       <span class="align-self-center"><i class="fas fa-angle-right"></i></span>
 -->                    </a>
                </nav>
            </div>
        </div>

        <div id="content">
            <!-- Header -->
            <header class="header d-flex flex-row align-items-center fixed-top">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6">
                            <img class="logo">
                        </div>
                        <div class="col-6 text-right">
                            <div class="dropdown">
                                <span><img alt="32x32" class="mr-2 rounded-circle" src="./images/user.png" ;="" style="width: 32px; height: 32px; "></span>
                                <button class="btn btn-transparent dropdown-toggle need-username" type="button" id="dropdownMenuButton" style ="padding-left: 0px"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a id="logout" class="dropdown-item" href="#"><i class="fas fa-sign-out-alt"></i><%= message.info["logout"] %></a>
                                    <a id="changeUserInfo" class="dropdown-item" href="#"><i class="fas fa-user-alt"></i><%= message.info["user-information"] %></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <div class="col-md-12 px-0 pt-2" id="mainContainer">
                <p class="d-sm-block d-md-none">
                    <button type="button" class="btn btn-outline-info btn-sm" onclick="toggleClass(document.getElementById('rowOffCanvas'), 'active')">
                        <i class="fas fa-angle-left"></i>
                    </button>
                </p>

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#" class="need-domain-name"></a></li>
                        <li class="breadcrumb-item list-record-link"><a href="#" class="need-app-name"></a></li>
                        <li class="breadcrumb-item active text-add" aria-current="page"><%= message.info["add-record"] %></li>
                    </ol>
                </nav>

                <!-- Content -->
                <div id="mainContent">

                    <div class="d-flex flex-wrap justify-content-between follow">
                        <div class="edit-menu" id="editMenu" style="visibility: visible; margin-top: 15px; margin-bottom: 15px; margin-left: 15px ">
                            <button type="button" class="btn btn-cancel mr-1" id="cancelBtn"><%= message.common["cancel-title"] %></button>
                            <button type="button" class="btn btn-green mr-1" id="submitBtn" ><%= message.common["save-title"] %></button>
                        </div>
                    </div>

                    <iframe id="iframe" src=""></iframe>
                    <br>
                    <!-- <div class="d-flex"> -->

                  

                    <!-- <div style="height: 100px;">
                        <input type="submit" value="保存" id="submitBtn" class="btn btn-green" style="margin-top: 15px ">
                    </div> -->
                </div>
                <!-- End content -->
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.js"></script>
    <script src="https://js.cybozu.com/sweetalert/v2.1.2/sweetalert.min.js"></script>
    <script src="./js/logout.js"></script>
    <script src="./js/main.js"></script>
    <script src="./js/add-record.js"></script>
</body>

</html>