<!DOCTYPE html>
<html lang="<%= chobiitLang %>">

<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chobiit</title>

     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">
    <link rel="stylesheet" href="./css/main.css">

    <style>

        body {
            position: relative;
        }

        #loginContainer{
            min-height : 100vh;
            height: 100%
        }


        .chobit-logo{
            margin-bottom :20px;
            margin-top: 20px;
        }

        li {
            font-weight: normal;
            font-size: 13px;
            text-align: left;
        }

        .form-control {
            height: 65px;
            padding-left: 2rem;
            border-radius: 5rem;
            border: none;
        }

         .form-control:focus {
           
            border: none;
            box-shadow: none;
        }

        #register-btn {
            margin-top: 1rem;
            color: white;
            border: none;
            margin-bottom: 2rem;
            border-radius: 10rem;
            height: 65px;
            background: #085263;
            font-size: 20px;
            background: -webkit-linear-gradient(top left, #006896 0%, #007396 100%);
        }

        button#redirect-btn {
            margin-top: 1rem;
            padding: 0.6rem;
            color: white;
            border: none;
            margin-bottom: 2rem;
            border-radius: 10rem;
            height: 65px;
            background: orange;
            font-size: 16px;
        }

        button#redirect-btn:hover {
            background: #f78529f5;
        }

        label.chobiit-label {
            color: white;
            padding-left: 15px;
        }
    </style>
</head>

<body>
    <div id="wrapper">
    <div class="container" id="loginContainer">
        <div class="col-sm-12 col-md-6 m-auto pt-3">
            <div class="m-0 align-self-center text-center text-white font-weight-bold company-name" id="showName"  style="padding-bottom: 0rem;">
            </div>

            <div class="m-0 align-self-center text-center text-white font-weight-bold">
                <div class="pt-2 pb-2" id="register-title"><%= message.info["register-title"] %></div>
            </div>
            <div class="text-center mb-5" id="alertDiv">
                <p class="m-0" id="loginNameAlert"><%= message.info["register-loginNameAlert"] %></p>
                <p class="m-0" id="usernameAlert"><%= message.info["register-usernameAlert"] %></p>
                <p class="m-0" id="passwordAlert"><%= message.info["register-passwordAlert"] %></p>
            </div>
            <form  method="POST" id="register-form" class="">
                <div class="form-group">
                    <label class="chobiit-label">
                        <%= message.info["register-login-name-description"] %>
                        <% if (chobiitLang === 'en') { %>
                            <div style="margin: 1rem;font-size: .8rem;font-weight: 600;">
                                Use 3 - 64 characters with a mix of letters and/or numbers, 
                                <br>
                                and symbol . - _ @ (other symbols are not supported)
                                <br>
                                starting from either a letter or number.
                            </div>
                        <% } %>
                    </label>
                    <input type="text" name="name" id="loginName" class="form-control" placeholder="<%= message.info["register-login-name-placeholder"] %>"/>
                </div>
                <div class="form-group pt-4">
                    <label class="chobiit-label"><%= message.info["register-email-description"] %></label>
                    <input type="text" name="email" id="email" class="form-control" placeholder="<%= message.info["register-email-placeholder"] %>"/>
                </div>

                <div class="form-group pt-4">
                    <label class="chobiit-label"><%= message.info["register-password-description"] %></label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="<%= message.info["register-password-placeholder"] %>"/>
                </div>

                <div class="form-group pt-4">
                    <input type="password" name="re-password" id="re-password" class="form-control" placeholder="<%= message.info["register-confirm-password-placeholder"] %>"/>
                </div>

                <br>
                <button type="button" class="btn btn-block" id="register-btn">
                    <span><%= message.info["register"] %></span>
                </button>
                <button onclick="location.href='./login.html'" id="redirect-btn" class="btn btn-block" type="button">
                    <span><%= message.info["register-for-already-registered"] %></span>
                </button>
            </form>
        </div>
    </div>
    </div>
   
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://js.cybozu.com/sweetalert/v2.1.2/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js" type="text/javascript"></script>
    <script src="./js/config.js"></script>
    <script src="./js/main.js"></script>
    <!-- <script src="./cognito/amazon-cognito-auth.min.js"></script>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.688.0.min.js"></script>  -->
    <!-- <script src="./cognito/amazon-cognito-identity.min.js"></script> -->
    <script src="./js/register.js"></script>
</body>
</html>
